@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&family=Passion+One&display=swap');
*{/* Start of default configuration */
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
:root{
    --color-primary: #6c9bcf;
    --color-danger: #ff0060;
    --color-success: #1b9c85;
    --color-warning: #f7d060;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --card-border-1: 0.4rem;
    --card-radius-2: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow-dark: 0 2rem 3rem var(--color-light);
    --box-shadow-light: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
}
body{
    position: relative;
    overflow-x: hidden;
    background-color: #f4f4fc;
    height: 100vh;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 255px; /* Espaço para o aside */
    padding: 20px;
    width: calc(100% - 255px); /* Ajusta a largura para ocupar o resto da tela */
    overflow-x: hidden;
    /* height: 100vh; */
}
/* End of default configuration */
/* Start of configuration header */

/* End of configuration header */
aside{/* Start of configuration aside*/
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 255px;
    padding: 20px;
}
aside > nav{
    display: flex;
    flex-direction: column;
    height: 900px;
    gap: 3rem;
    background-color: var(--color-background);
    box-shadow: var(--box-shadow-light);
}
.name-Web-Site_Ong{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 1rem;
    padding: 10px;
}
.options-Control-Panel_Ongs > ul{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
.options-Control-Panel_Ongs a{
    display: flex;
    cursor: pointer;
    gap: 1rem;
    width: 100%;
    padding: 5px;
    color: black;
    padding: 10px;
}
.options-Control-Panel_Ongs li{
    width: 100%;
}
.options-Control-Panel_Ongs a.active-Link-Options-Control_Ong{
    color: #1b9c85;
    background-color: #ececff;
    border-left: 3px solid #1b9c85;
}/* End of configuration aside*/
.container-Projects_Ong{/* Start section projects*/
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 20px;
}
.projects_Ong{
    display: flex;
}
.page-Path_Ong{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-background);
    box-shadow: var(--box-shadow-light);
    padding: 10px;
}
.page-Path_Ong h2{
    font-size: 1.2rem;
    font-weight: 400;
}
.projects-Page-Filter_Ong{
    display: flex;
    align-items: center;
    gap: 5rem;
    background-color: var(--color-background);
    box-shadow: var(--box-shadow-light);
    padding: 10px;
}
.projects-Page-Filter_Ong button{
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 5px;
    border-radius: 3px;
}
.projects-Page-Filter_Ong button.active-Button-Project-List-Filter_Ong{
    background-color: #1b9c85;
    color: white;
}
.submenu-Control-panel_Ong{
    display: none;
    align-items: center;
    background-color: var(--color-background);
    box-shadow: var(--box-shadow-light);
    padding: 10px;
}
.submenu-Control-panel_Ong ul{
    display: flex;
    gap: 4.3rem;
    align-items: center;
    color: black;
}
.submenu-Control-panel_Ong ul li a{
    display: flex;
    gap: 0.5rem;
    color: black;
}
/* Inicio responsividade do submenu */
@media (width < 1031px){
    .submenu-Control-panel_Ong{
        display: none;
        align-items: center;
        background-color: var(--color-background);
        box-shadow: var(--box-shadow-light);
        padding: 10px;
    }
}
/* Fim responsividade do submenu */
.conteiner-Projects-List_Ong{
    display: grid;
    grid-template-columns: repeat(4, 370px);
    padding: 10px;
    justify-content: space-between;
    background-color: var(--color-background);
    box-shadow: var(--box-shadow-light);
}
.project-List-Item_Ong{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    margin: 0 15px 15px 15px;
    border-radius: 5px;
    background-color: var(--color-background);
    box-shadow: var(--box-shadow-light);
}
.project-Image_Ong img{
    height: 200px;
    width: 100%;
    border-radius: 5px 5px 0 0;
}
.project-Content_Ong {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.project-Content_Ong h3{
    font-weight: 300;
}
.project-Content_Ong a{
    display: flex; 
    gap: 0.5rem;
    color: black;
    transition: all ease-in-out 0.2s;
}
.project-Content_Ong a:hover{
    color: var(--color-warning);
}
.modal-Active_Ong{
    display: flex;
    flex-direction: column;
}
.modal_Ong {
  display: none; /* Modal escondido por padrão */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro */
  justify-content: center;
  align-items: center;
}

.modal-Active_Ong {
  display: flex; /* Torna o modal visível */
}

.modal_Ong{
    display: none;
    position: absolute;
    top: 50%; /* Posiciona o centro do modal a 50% da altura do body */
    left: 50%; /* Posiciona o centro do modal a 50% da largura do body */
    transform: translate(-50%, -50%); /* Centraliza completamente */
    width: 700px; /* Ajuste conforme necessário */
    height: 700px; /* Ajuste conforme necessário */
    background-color: white; /* Apenas para visualização */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Estilo extra opcional */
    padding: 20px; /* Espaço interno */
    overflow-y: scroll;
}
.img-Modal_Ong img{
    width: 100%;
    height: 250px;
}
.content-Modal_Ong{
    display: flex;
    flex-direction: column;
    font-weight: 400;
    gap: 1rem;
}
.content-Modal_Ong h2{
    font-weight: 400;
}
.title-Project-Modal_Ong{
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 0.5rem;
    width: 100%;
    margin-bottom: 10px;
}
.description-Modal_Ong{
    width: 100%;
    height: 200px;
    overflow-y: scroll;
}
.information-Modal_Ong{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 20px 0 20px 0;
}
.region-Modal_Ong{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.options-Modal_Ong{
    display: flex;
    justify-content: space-between;
}
.options-Modal_Ong button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: var(--box-shadow-light);
    cursor: pointer;
    color: white;
}
#toggle-Button-Modal_Ong{
    background-color: var(--color-warning);
}
#minimize-Button-Modal_Ong{
    background-color: var(--color-primary);
}
#delete-Button-Modal_Ong{
    background-color: var(--color-danger);
}
/* End section projects*/
.container-Share-Projects_Ong{/* Start section share Projects */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 40px 0 0 0;
    padding: 20px;
    background-color: var(--color-background);
    box-shadow: var(--box-shadow-light);
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-Form{
    margin: 10px 0 40px 0;
}
.box-Step_Ong{
    display: flex;
    flex-direction: column;
    margin: 30px 0 30px 0;
}
.box-Step_Ong h3{
    margin: 0 0 15px 0;
    font-weight: 500;
}
.box-Flex-Items_Ong{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.inboxes{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 250%;
}
.inboxes input , select{
    border: 1px solid rgba(0, 0, 0, 0.178);
    border-radius: 10px;
    padding: 10px;
}
.inboxes label{
    color: rgba(0, 0, 0, 0.397);
}
.inboxes textarea{
    min-width: 700px;
    max-width: 700px;
    min-height: 300px;
    max-height: 300px;
    overflow-y: scroll;
}
.send-Button{
    border: none;
    color: white;
    background-color: #1b9c85;
    padding: 10px;
    border-radius: 10px;
    font-size: 1rem;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease-in-out ;
}
.send-Button:hover{
    background-color: white;
    color: #1b9c85;
}/* End section share Projects */
/* Start section donation list */
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #ffffff; 
}
/* End section donations list */
/* Start responsiveness */
@media (width < 1600px){/* Start section projects */
    .conteiner-Projects-List_Ong{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (width < 1279px){
    .conteiner-Projects-List_Ong{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (width < 1223px){
    .conteiner-Projects-List_Ong{
        grid-template-columns: repeat(1, 1fr);
    }
    .project-List-Item_Ong{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 300px;
        margin: 30px 15px 20px 15px;
        border-radius: 5px;
        background-color: var(--color-background);
        box-shadow: var(--box-shadow-light);
    }
}
@media (width < 820px){
    aside{
        display: none;
    }
    aside > nav{
        display: none;
    }
    main {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto; /* Espaço para o aside */
        padding: 0;
        width: 90%; /* Ajusta a largura para ocupar o resto da tela */
        overflow-x: hidden;
        /* background-color: #363949; */
    }
    .submenu-Control-panel_Ong{
        display: flex;
        align-items: center;
        background-color: var(--color-background);
        box-shadow: var(--box-shadow-light);
        padding: 10px;
    }
}/* End section projects */
@media (width < 1100px){
    aside{
        display: none;
    }
    aside > nav{
        display: none;
    }
    main {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto; /* Espaço para o aside */
        padding: 0;
        
        overflow-x: hidden;
        /* background-color: #363949; */
    }
}
@media (width < 1031px){
    .box-Flex-Items_Ong{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1rem;
    }
    .container-Share-Projects_Ong{/* Start section share Projects */
        max-width:  100%;
        background-color: #6c9bcf;
        /* display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: 40px 0 0 0;
        padding: 20px;
        background-color: var(--color-background);
        box-shadow: var(--box-shadow-light); */
        z-index: 1000;
    }
    body{
        background-color: #363949;
    }
}