/* Geral */
.header {
  background-color: #008374; /* Fundo verde do header */
  padding: 10px 0;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

/* Topbar */
.topbar {
  background-color: #00695C; /* Verde mais escuro */
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.topbar .contact-info {
  display: flex;
  align-items: center;
}

.topbar .contact-info i {
  color: #FFFFFF;
  margin-right: 10px;
}

.topbar .contact-info a,
.topbar .contact-info span {
  color: #FFFFFF;
  font-size: 14px;
  margin-right: 20px;
}

.topbar .social-links a {
  color: #FFFFFF;
  margin-left: 15px;
  font-size: 16px;
}

.topbar .social-links a:hover {
  color: #CCCCCC;
}

/* Branding e Navegação */
.branding {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 60px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo h1 {
  font-size: 30px;
  color: white;
  margin: 0;
}

.navmenu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navmenu ul li {
  margin-left: 20px;
}

.navmenu ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.navmenu ul li a:hover {
  color: #CCCCCC;
}

/* Responsivo */
@media (max-width: 768px) {
  .topbar {
    flex-direction: column;
    text-align: center;
  }
  
  .topbar .contact-info {
    margin-bottom: 5px;
  }
  
  .navmenu ul {
    flex-direction: column;
  }

  .navmenu ul li {
    margin-left: 0;
    margin-top: 10px;
  }
}

.container-my-5{
  
  margin: 50px;
  margin-top: 140px;
}
.card
{
  width:300px;
}

#perfil{
  height: 50px;
  width: 50px;
  border-radius: 50px;
}
.container {
  display: flex;
  align-items: center;
}

.imagem {
  cursor: pointer;
  width: 200px;
}

.perfil {
  display: none; /* Escondido inicialmente */
  margin-left: 20px;
  background-color: lightgrey;
  padding: 10px;
  border-radius: 5px;
}

/* Modal e Overlay */
.modal-right {
  position: fixed;
  top: 0;
  right: -400px; /* Escondido fora da tela inicialmente */
  width: 400px;
  height: 100%;
  background-color: white;
  box-shadow: -4px 0 8px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
  z-index: 2001; /* Elevado acima da página */
  overflow-y: auto;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none; /* Escondido inicialmente */
  z-index: 2001; /* Um pouco abaixo do modal */
}

.modal-right.open {
  right: 0;
}

.modal-overlay.open {
  display: block;
}

.modal-content {
  padding: 20px;
}

.modal-content h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.modal-content p {
  font-size: 16px;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}

.imagem {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.container-my-5 {
  margin: 50px;
  margin-top: 140px;
}